<h1 class="title is-2" style="margin-top: 1.5rem;">Cart</h1>
{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <table class="cart table is-striped is-fullwidth">
      <thead>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img class="image" src="{{ item | img_url: 'x200' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <p><a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}</p>
              <p><a class="has-text-grey is-uppercase is-size-6" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a></p>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <div class="number-wrapper">
                  <button class="button-left" type="button"
                    onclick="this.parentNode.querySelector('[type=number]').stepDown();">
                    -
                  </button>
                  <input type="number" id="updates_{{ item.key }}" name="updates[]" value="{{ item.quantity }}" min="0">
                  <button class="button-right" type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">
                    +
                  </button>
                </div>
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="columns has-text-right">
      <div class="column">
        <p class="content has-text-weight-bold is-size-4">SUBTOTAL : {{ cart.total_price | money }}</p>
        <button type="submit" name="update" class="button">Update</button>
        <button type="submit" name="checkout" class="button is-black">Checkout</button>
      </div>
    </div>
  </form>
{% else %}
  <p>Your cart is empty - have a look at our store!</p>>
{% endif %}
