{% paginate collection.products by 16 %}
    <h1 class="title">{{ collection.title }}</h1>
    <div class="columns is-vcentered">
        <div class="column is-3 flex-vcenter filter-sort">
            {% include 'collection-sorting' %}
        </div>
        <div class="column is-3 flex-vcenter filter-sort">
            {% include 'collection-filtering' %}
        </div>
    </div>
    <div class="columns is-multiline is-mobile">
        {% for product in collection.products %}
            <div class="column is-one-quarter-tablet is-half-mobile">
                <a href="{{ product.url | within: collection }}">
                    <img src="{{ product.featured_image.src | img_url: '535x' }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
                <p>
                    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                    &ndash;
                    {{ product.price | money }}{% if product.price_varies %}+{% endif %}
                    {% unless product.available %}
                        <br><strong>sold out</strong>
                    {% endunless %}
                </p>
            </div>
        {% else %}
            <p>no matches</p>
        {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}
{% endpaginate %}