{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="columns is-vcentered">
  <div class="column is-6" style="text-align: center;">
    <img src="{{ featured_image | img_url: '660x' }}" style="padding: 2em 1em 2em 1em;"
      alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    <div class="product-images carousel">
      {% for image in product.images %}
      {% comment %}<a href="{{ image.src | img_url: 'large' }}">{% endcomment %}
        <img data-fullsize="{{ image.src | img_url: '660x' }}" src="{{ image.src | img_url: 'compact' }}"
          alt="{{ image.alt | escape }}">
        {% comment %}</a>{% endcomment %}
      {% endfor %}
    </div>
  </div>
  <div class="column is-6" style="padding: 2em;">
    <h1 class="title">{{ product.title }}</h1>
    {% if product.has_only_default_variant %}
    <h2 class="subtitle">{{ current_variant.price | money }}</h2>
    {% endif %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      {% unless product.has_only_default_variant %}
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="id" id="productSelect">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option value="{{ variant.id }}">
                {{ variant.title }} - {{ variant.price | money_with_currency }}
              </option>
              {% else %}
              <option disabled="disabled">
                {{ variant.title }} - sold out
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% else %}
      <input type="hidden" name="id" value="{{ current_variant.id }}">
      {% endunless %}
      <div class="add-to-cart">
        {% if current_variant.available %}
        <div class="number-wrapper">
          <button class="button-left" type="button"
            onclick="this.parentNode.querySelector('[type=number]').stepDown();">
            -
          </button>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">
          <button class="button-right" type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">
            +
          </button>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit" name="add" id="AddToCart">Add to cart</button>
          </div>
        </div>
        {% else %}
        <div class="field">
          <div class="control">
            <button class="button is-disabled" type="submit" disabled name="add" id="AddToCart">SOLD OUT</button>
          </div>
        </div>
        {% endif %}
      </div>
    </form>
    <div class="content" style="margin-top: 2em;">{{ product.description }}</div>
  </div>
</div>