{% assign content_font = settings.type_primary_content %}
{% assign breadcrumb_font = settings.type_breadcrumb %}
{% assign nav_font = settings.type_navigation %}
{% assign general_font = settings.type_general %}
{% assign heading_font = settings.type_heading %}

{{ content_font | font_face }}
{{ breadcrumb_font | font_face }}
{{ nav_font | font_face }}
{{ general_font | font_face }}
{{ heading_font | font_face }}

$font-content-family:
{{ content_font.family }},
{{ content_font.fallback_families }};
$font-breadcrumb-family:
{{ breadcrumb_font.family }},
{{ breadcrumb_font.fallback_families }};
$font-nav-family:
{{ nav_font.family }},
{{ nav_font.fallback_families }};
$font-general-family:
{{ general_font.family }},
{{ general_font.fallback_families }};
$font-heading-family:
{{ heading_font.family }},
{{ heading_font.fallback_families }};

.navbar-brand {
  align-items: center;
}

.breadcrumb {
  padding: 0.5em;
  //font-family: $font-breadcrumb-family;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgb(237,237,237);

  span {
    padding: 0 0.75em;
  }
}

table.cart td {
  vertical-align: middle;
}

ul.list-horizontal, li.list-horizontal {
  li {
    display: inline;
  }
  list-style: none;
}

.footer {
  //margin-top: 4em;
  padding: 3rem 1.5rem 3rem 1.5rem;

  .payment-icon {
    width: 38px;
    height: 24px;
  }
}

.filter-sort {
  * {
    margin-right: 0.5rem;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-vcenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.feature-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.feature-text .column {
  padding: 1em;
  margin: 4em 0 4em 0;
}

.container {
  font-family: $font-general-family;
}

@media all and (max-width: 1024px) {
  .pad-mobile {
    padding: 1.25em;
  }

  .feature-text {
    .column:nth-child(1) {
      margin: 3em 0 1em 0;
    }
    
    .column {
      margin: 1em 0 1em 0;
    }
  }
}

.nav-search {
  margin: 0 0.5rem 0 0.5rem;
}

.content {
  font-family: $font-content-family;
}

h1, h2, h3, h4 {
  font-family: $font-heading-family;
}

.breadcrumb span {
  padding: 0 0.75em;
}

.product-images.carousel {
  img {
    border: 1px solid rgb(237, 237, 237);
    margin-right: 0.5em;
  }

  img.is-clicked {
    border: 1px solid rgb(193, 40, 46);
  }
}

input {
  text-align: center;
}

.number-wrapper {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    display: flex;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 0.75em;
    margin-right: 1em;

    button {
        height: 2.25em;
        width: 2.25em;
        border: 1px solid #dbdbdb;
        background-color: #fbfbfb;
        font-size: 1em;
    }

    button.button-left {
        border-radius: 4px 0px 0px 4px;
        padding-top: calc(0.375em - 1px);
        padding-bottom: calc(0.375em - 1px);
    }

    button.button-right {
        border-radius: 0px 4px 4px 0px;
        padding-top: calc(0.375em - 1px);
        padding-bottom: calc(0.375em - 1px);
    }

    input[type="number"] {
        font-size: 1em;
        height: 2.25em;
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        border-left: 0px;
        border-right: 0px;
        padding-top: calc(0.375em - 1px);
        padding-bottom: calc(0.375em - 1px);
        width: 3em;
    }
}

.add-to-cart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.specsheet {
  margin: 2em 0 0.75em 0;

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  tr td:first-child {
    font-weight: bold;
  }
}

.feature-collection-title {
  margin-top: 3em;
  font-variant: all-small-caps;
}

.feature-collection {
  a, a:hover {
    color: black;
  }

  .product-wrapper {
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.1);
    height: 100%;
  }
}

.feature-text-wrapper {
  position: relative;
  margin-top: 4em;
  margin-bottom: -4em;

  .tilt {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    transform: rotate(1deg);
    transform-origin: top left;
    border-top: 3px solid #fcd2be;
    background-color: #fcd2be;
    background-blend-mode: screen;
    background-image: url('https://cdn.shopify.com/s/files/1/0077/6870/3035/files/geometric_background.jpg?982');
    overflow: hidden;
  }

  .feature-wrapper {
    margin: 0 auto 0 auto;
  }

  .content {
    background-color: white;
  }
}

#shopify-section-footer, .footer {
  z-index: 10;
}

.carousel-cell {
  margin: 0;
  line-height: 0;
  padding: 0;
  width: 100%; 
  max-height: 760px;
}