<!doctype html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  {{ 'bulma.min.css' | asset_url | stylesheet_tag }}
  {{ 'application.scss.css.liquid' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script src="https://kit.fontawesome.com/5d00daffa9.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>

<body style="display: flex; min-height: 100vh; flex-direction: column;">
  {% section 'header' %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <main role="main" style="flex: 1">
    {% include 'breadcrumbs' %}
    {% if template.name != 'index' %}
    <div class="container pad-mobile">
      {{ content_for_layout }}
    </div>
    {% else %}
      {{ content_for_layout }}
    {% endif %}
  </main>

  {% section 'footer' %}
</body>

</html>