<div class="feature-wrapper container pad-mobile">
    {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
      <h1 class="title is-5 feature-collection-title">{{ collection.title }}</h1>
      <div class="columns is-multiline is-mobile feature-collection">
          {% for product in collection.products limit: 4 %}
          <div class="column is-one-fifth-tablet is-half-mobile">
            <div class="product-wrapper">
              <a class="product-link" href="{{ product.url | within: collection }}">
                <img src="{{ product.featured_image.src | img_url: '535x' }}" alt="{{ product.featured_image.alt | escape }}">
                {{ product.title }} &mdash; {{ product.price | money }}{% if product.price_varies %}+{% endif %}
              </a>
            </div>
          </div>
          {% endfor %}
          <div class="column is-one-fifth-tablet is-half-mobile" style="text-align: center; align-self: center;">
            <a href="{{ collection.url }}">View more from<br /> {{ collection.title }} <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": {
    "en": "Collection list"
  },
  "max_blocks": 5,
  "presets": [
    {
      "name": "Featured Collection",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": {
            "en": "Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}