<div class="columns feature-text-wrapper">
  <div class="column">
    <div class="tilt"></div>
    <div class="feature-wrapper container pad-mobile">
      <div class="feature-text {% if settings.layout == 'left' %}flex-reverse {% endif %}columns is-vcentered is-centered">
          <div class="column is-5 content">
              <h2 class="title is-2">{{ section.settings.title }}</h2>
              <p>{{ section.settings.text }}</p>
              <a class="button is-black" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
          </div>
          <div class="column is-5">
              <img src="{{ section.settings.image | img_url: '600x600' }}" alt="{{ section.settings.image.alt | escape }}">
          </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Image with text"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en": "Image alignment"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Feature Headline"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Write a feature statement</p>"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}