<footer class="footer" {% if template != 'index' %}style="margin-top: 4em;"{% endif %}>
    <div class="level is-vcentered">
        <div class="level-left">
            {% if linklists[section.settings.footer_link_list].links.size > 0 %}
                <ul>
                {% for link in linklists[section.settings.footer_link_list].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="level-right">
            <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}<br></p>
            {%- unless shop.enabled_payment_types == empty -%}
            <ul class="list-horizontal">
                {%- for type in shop.enabled_payment_types -%}
                <li>
                    {{ type | payment_type_svg_tag: class: 'payment-icon' }}
                </li>
                {%- endfor -%}
            </ul>
            {%- endunless -%}
        </div>
    </div>
</footer>

{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "settings": [
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "en": "Footer links"
      },
      "default": "footer"
    }
  ]
}
{% endschema %}