<nav aria-label="main navigation" class="navbar" role="navigation" style="border-bottom: 1px solid rgb(237,237,237);">
    <div class="navbar-brand">
        <a class="navbar-item" href="/" title="Home">

            {% capture image_size %}x{{ section.settings.logo_height | escape }}{% endcapture %}

            <img src="{{ section.settings.logo | img_url: image_size }}" style="height: 64px" height="64">
        </a>

        <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">

            {% for link in linklists.main-menu.links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                    {% assign link_count = 0 %}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ link.url }}">{{ link.title }}</a>
                        <div class="navbar-dropdown">
                            {% for childlink in linklists[child_list_handle].links %}
                                {% assign link_count = link_count | plus: 1 %}
                                <a class="navbar-item has-text-weight-bold" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>

                                {% assign grandchild_list_handle = childlink.title | handleize %}                                
                                {% if linklists[grandchild_list_handle].links != blank %}
                                    {% for grandchildlink in linklists[grandchild_list_handle].links %}
                                        {% assign link_count = link_count | plus: 1 %}
                                        <a class="navbar-item" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item" href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
            {% endfor %}

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="level">
                    <div class="level-item nav-search">
                        {%  include 'search_bar' %}
                    </div>
                    &nbsp;
                    <div class="level-item">
                        <a class="button" href="/cart">
                          View Cart&nbsp;&nbsp;
                            <span class="icon is-small">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% schema %}
{
   "name": "Header",
   "settings": [
      {
         "type": "image_picker",
         "id": "logo",
         "label": "logo"
      },
      {
        "type": "text",
        "id": "logo_height",
        "label": "Logo Height",
        "default": "250x",
        "placeholder": "250x"
      }
   ]
}
{% endschema %}