{% if section.blocks.size > 0 %}

<div class="columns" style="margin-bottom: 2em;">
    <div class="column is-full" style="background-color: #f7f7f7; padding-bottom: 0;">
      <div class="container">
      {% assign autoplay = section.settings.slideshow_autoplay | default: true %}
      {% if autoplay %}
          {% assign autoplay_speed = section.settings.slideshow_autoplay_speed | default: "10000" %}
      {% else %}
          {% assign autoplay_speed = false %}
      {% endif %}

      <div class="carousel" data-flickity='{ "lazyLoad": false, "prevNextButtons": false, "imagesLoaded": true, "autoPlay": {{ autoplay_speed }} }'>
          {% for block in section.blocks %}
          <div class="carousel-cell"><a href="{{ block.settings.slide_link }}"><img class="carousel-cell-image" src="{{ block.settings.image | img_url: '1350x760', format: 'pjpg', crop: 'bottom' }}"></a></div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Slideshow",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "slideshow_autoplay",
            "label": {
            "en": "Automatically rotate slides"
            },
            "default": true
        },
        {
            "type": "select",
            "id": "slideshow_autoplay_speed",
            "label": {
                "en": "Slide changes every"
            },
            "default": "5000",
            "options": [
                {
                    "value": "5000",
                    "label": {
                    "en": "5 seconds"
                    }
                },
                {
                    "value": "10000",
                    "label": {
                    "en": "10 seconds"
                    }
                }
            ]
        }
    ],
    "presets": [
      {
         "name": "Slideshow",
         "category": "Homepage Content"
      }
    ],
    "blocks": [
    {
      "type": "slide",
      "name": {
        "en": "Slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": {
            "en": "Slide link"
          }
        }
      ]
    }
  ]
}
{% endschema %}