{% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

<label for="sortBy">Sort by</label>
<div class="select">
    <select id="sortBy" name="sortBy">
        <option value="manual" {% if sort_by == "manual" %} selected="selected" {% endif %}>Featured</option>
        <option value="best-selling" {% if sort_by == "best-selling" %} selected="selected" {% endif %}>Best Selling</option>
        <option value="title-ascending" {% if sort_by == "title-ascending" %} selected="selected" {% endif %}>Alphabetically, A-Z</option>
        <option value="title-descending" {% if sort_by == "title-descending" %} selected="selected" {% endif %}>Alphabetically, Z-A</option>
        <option value="price-ascending" {% if sort_by == "price-ascending" %} selected="selected" {% endif %}>Price, low to high</option>
        <option value="price-descending" {% if sort_by == "price-descending" %} selected="selected" {% endif %}>Price, high to low</option>
        <option value="created-descending" {% if sort_by == "created-descending" %} selected="selected" {% endif %}>Date, new to old</option>
        <option value="created-ascending" {% if sort_by == "created-ascending" %} selected="selected" {% endif %}>Date, old to new</option>
    </select>
</div>
<script>
    const $sortSelect = $('#sortBy');
    $sortSelect.on('change', (eventData) => {
        let searchParams = new URLSearchParams(window.location.search);
        const { value } = eventData.currentTarget;

        searchParams.set('sort_by', value);
        
        window.location = `?${searchParams.toString()}`;
    });
</script>