<label for="FilterTags">Filter by</label>
<div class="select">
    <select aria-describedby="warning-text" id="FilterTags" name="FilterTags">
        {% if current_tags %}
            {% if collection.handle %}
                <option value="/collections/{{ collection.handle }}">All</option>
            {% elsif collection.current_type %}
                <option value="{{ collection.current_type | url_for_type }}">All</option>
            {% elsif collection.current_vendor %}
                <option value="{{ collection.current_vendor | url_for_vendor }}">All</option>
            {% endif %}
        {% else %}
            <option value="">All</option>
        {% endif %}
        {% for tag in collection.all_tags %}
            {% assign ishidden = tag | slice: 0, 7 %}
            {% unless ishidden == "hidden_" %}
                <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" {% if current_tags contains tag %} selected="selected" {% endif %}>{{ tag }}</option>
            {% endunless %}
        {% endfor %}
    </select>
</div>
<script>
    const $filterSelect = $('#FilterTags');
    $filterSelect.on('change', (eventData) => {
        const searchParams = new URLSearchParams(window.location.search);
        const { value } = eventData.currentTarget;
        
        window.location.href = `${value}?${searchParams.toString()}`;
    });
</script>