<form action="/search" method="get" role="search">
  <div class="field has-addons">
    <div class="control has-icons-right">
      <input class="input" type="search" name="q" placeholder="Search">
      <span class="icon is-small is-right">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div class="control">
        <button type="submit" class="button is-black">Search</button>
    </div>
  </div>
</form>